<!-- Navbar Fixed -->
<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Minha Aplicação</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{/index}" class="nav-link">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/pacientes/list}" class="nav-link">Pacientes</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">Sair</a>
            </li>
        </ul>
    </div>
</nav>

<style>
    /* Estilos personalizados para o menu */
    body {
        padding-top: 80px; /* Ajustar o conteúdo abaixo do menu fixo */
    }

    .navbar {
        background-color: #343a40; /* Nova cor de fundo do menu (cinza escuro) */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte moderna e elegante */
        font-size: 17px; /* Tamanho da fonte do menu */
    }

    .navbar-brand {
        font-size: 1.6rem; /* Tamanho maior da fonte da marca */
        font-weight: bold; /* Fonte em negrito para a marca */
        color: #f8f9fa; /* Cor da marca */
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 1.5rem; /* Aumentar o espaçamento interno dos links */
        margin-right: 10px; /* Aumentar o espaçamento entre os links */
        color: #adb5bd; /* Cor dos links */
    }

    .navbar-nav .nav-link:hover {
        color: #f8f9fa; /* Cor do texto ao passar o mouse sobre os links */
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.8%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
</style>
