<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: rgb(130, 130, 133);
      padding-top: 5%;
    }
    .card {
      width: 30rem;
      margin: auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
<div class="container">
  <div class="card">
    <h2 class="text-center mb-4">Login</h2>

    <!-- Exibir mensagem de erro se houver -->
    <div th:if="${param.error != null}" class="alert alert-danger">
      Usuário ou Senha Inaválido.
    </div>

    <form th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
</div>
</body>
</html>
